.astra {
  filter: drop-shadow(0px 0px 129px #d993ffb8);
  animation: astra 2.4s ease-out;
  width: 500px;
  height: auto;
  position: fixed;
  right: -90px;
  bottom: -40px;
  z-index: 1;
}



.jet{
  z-index: 1;
  filter: drop-shadow(0px 0px 129px #d798f9a8);
  animation: jett 2s ease-out;
  width: 700px;
  height: auto;
  position: fixed;
  left: 0px;
  top: 290px;
  
}



body{
  z-index: 2;
  background: rgb(181, 97, 214);
  background: radial-gradient(circle, rgba(78, 57, 89, 0.817) 0%, rgb(101, 51, 107)59%, rgb(107, 80, 107) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
  }

.button-container {
  animation: butson 2.2s ease-out;
  text-align: center; /* Butonu yatay olarak ortala */
  margin-top: 100px; /* Butonun sayfanın üstünden biraz aşağı kaymasını sağla */
}



.baslik {
  z-index: 2;
  animation: butonlarindex 1.2s ease-out;
  text-shadow: 0px 0px 40px rgb(0, 0, 0);
  color: rgb(209, 195, 225);
}

p{
  font-size: 20px;
  z-index: 2;
  animation: butonlarindex 2s ease-out;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 40px rgb(0, 0, 0);
}

a.styled {
  text-align: center;
  width: 199px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #b196c379;
  transition: 0.8s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 125px rgba(163, 116, 192, 0.556), 0 0 235px rgb(156, 105, 211);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styled:hover {
  background: #c09fcc;
  transform: scale(1.2);
}


@media screen and (max-width: 1300px){
  .jet{
    display: none;
  }
  }






@keyframes butson {
  from {
    animation-delay: 1s;
    opacity: 0%;
    transform: translateY(-90px);
  }
}


@keyframes butonlarindex {
  from {
    animation-delay: 7s;
    opacity: 0%;
    transform: translateY(150px);
  }
}

@keyframes butonlarglobal {
  from {
    animation-delay: 1s;
    opacity: 0%;
    transform: translateY(150px);
    animation-iteration-count: 4;
  }
}

@keyframes jett {
  from {
    animation-delay: 1s;
    opacity: 0%;
    transform: translateX(-300px);
    animation-iteration-count: 4;
  }
}

@keyframes astra {
  from {
    animation-delay: 1s;
    opacity: 0%;
    transform: translateX(300px);
    animation-iteration-count: 4;
  }
}