body {
  background-image: url("../fotolar/Yeni_Proje.png");
  background-size: cover ;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items:center;
  gap: 20px;
  z-index: 1;
}

.astrabig {
  left: -310px;
  top: 210px;
  position: fixed;
  filter: drop-shadow(10px 10px 10px) rgb(yellow);
  z-index: 1;
  transition: 0.6s;
  cursor: pointer;
}
.astrabig:hover:first-child {
  margin: 10px;
  padding: 10px;
  filter: drop-shadow(10px 10px 10px) rgb(yellow);
}
.astrabig:hover:last-child {
  margin: 0px;
  padding: 0px;
  filter: drop-shadow(0px 0px 25px #ffae0060);
  transform: scale(1.2);
}
.fjlogo {
  z-index: 2;
  width: 293px;
  height: 117px;
  filter: drop-shadow(0px 0px 19px #ffbb0042);
  animation: logoyukariasagi 1s ease-out;
}
.astrabig {
  z-index: 1;
  animation: kjindex 1.2s ease-out;
}


.anamenu > img > a > a > a {
align-items: center;

}



.menu {
  min-width: 130px;
  z-index: 1;
  animation: sagmenuindex 1.8s ease-in-out;
  position: fixed;
  top: 190;
  right: 0;
  width: 30px;
  height: 40px;
  background-color: #e263e097;
  border-left: 8px solid #dcb6f2;
  border-top: 8px solid #dcb6f2;
  border-bottom: 8px solid #dcb6f2;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding: 15px;
}

.menu ul {
  animation: butonlarglobals 2.1s ease-in-out;
  list-style: disc;
  padding: 10px;
  margin-left: 7px;
}

.menu li { 
  box-shadow: 10 0 120px, #00ff0d;
  cursor: pointer;
   color: azure;
  margin-bottom: 90px;
}

.menu a{
  color: white;
  text-decoration: none;
}

.content {
  margin-right: 1px; 
}

@media screen and (max-width: 600px){
.menu{
  display: none;
}
}

@media screen and (max-width: 1050px){
  .astrabig{
    display: none;
  }
  }

  @media screen and (max-width: 1050px){
    .styledyt{
      display:block;
    }
  }
    
    @media screen and (min-width: 1049px){
      .styledyt{
        display: none;
      }
    }

    @media screen and (max-width: 601px){
      .hakkindabtn{
        display:block;
      }
    }
      
      @media screen and (min-width: 600px){
        .hakkindabtn{
          display: none;
        }
      }