body {
    background: rgb(255,169,39);
    background: linear-gradient(180deg, rgba(255,169,39,1) 0%, rgba(255,148,40,1) 47%, rgba(215,113,24,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

