* {
  font-family:Arial, Helvetica, sans-serif, expanded
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
html,
body {
  height: 100%;
}

a.styled {
  animation: butonlarglobal 0.4s ease-in-out;
  z-index: 2;
  text-align: center;
  width: 199px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 5px white;
  outline: none;
  cursor: pointer;
  background: #8b6b0079;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 5px rgb(255, 196, 0), 0 0 25px rgb(255, 196, 0);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styled:hover {
  background: #ffbb00;
  transform: scale(1.2);
}
a.styledindex {
  animation: butonlarindex 0.5s ease-out;
  z-index: 2;
  text-align: center;
  width: 393px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 12px orange;
  outline:#f36e01;
  cursor: pointer;
  background: #010000b1;
  transition: 0.2s;
  box-shadow: 0 0 5px rgba(255, 145, 0, 0.813), 0 0 15px rgba(255, 149, 0, 0.721);
  padding: 15px 30px;
  text-decoration:none;
  color: #ff9100;
}
a.styledindex:hover {
  background: #ff9900;
  color: white;
  transform: scale(1.1);
}
a.styledplayer {
  animation: butonlarindex 0.5s ease-out;
  z-index: 2;
  text-align: center;
  width: 105px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #8b4a0079;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 5px rgb(255, 187, 0), 0 0 25px rgb(255, 145, 0);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styledplayer:hover {
  background: #ff9900;
  transform: scale(1.2);
}
a.styleddiscord {
  animation: butonlarindex 0.6s ease-in-out;
  z-index: 2;
  text-align: center;
  width: 393px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0030b668;
  transition: 0.4s;
  box-shadow: 0 0 14px rgba(4, 0, 255, 0.575), 0 0 15px rgba(37, 53, 192, 0.622);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styleddiscord:hover {
  transform: scale(1.1);
  background: #0142f3;
}


a.styledyt {
  animation: butonlarindex 0.65s ease-in-out;
  z-index: 2;
  text-align: center;
  width: 393px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #f301015a;
  transition: 0.4s;
  box-shadow: 0 0 14px rgba(255, 0, 0, 0.575), 0 0 25px rgb(192, 37, 37);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styledyt:hover {
  transform: scale(1.1);
  background: #f30101;
}



a.hakkindabtn {
  animation: butonlarindex 0.9s ease-out;
  z-index: 2;
  text-align: center;
  width: 393px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #aa01f354;
  transition: 0.4s;
  box-shadow: 0 0 14px rgba(200, 0, 255, 0.575), 0 0 25px rgb(125, 37, 192);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.hakkindabtn:hover {
  transform: scale(1.1);
  background: #a201f3;
}

a.oyuncularbtn {
  animation: butonlarindex 0.6s ease-out;
  z-index: 2;
  text-align: center;
  width: 305px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 12px orange;
  outline: none;
  cursor: pointer;
  background: #ffffff00;
  transition: 0.2s;
  box-shadow: 0 0 24px rgba(255, 119, 0, 0.314), 0 0 45px rgba(192, 109, 37, 0.411);
  padding: 15px 30px;
  text-decoration: none;
  color: #ee971d;
}
a.oyuncularbtn:hover {
  transform: scale(1.2);
  background: #f36e01;
  color: #ffffff;
}


@keyframes logoyukariasagi {
  from {
    transform: translateY(-50px);
    opacity: 0%;
  }
}
@keyframes butonlarindex {
  from {
    animation-delay: 7s;
    opacity: 0%;
    transform: translateY(50px);
  }
}
@keyframes butonlarhaknd {
  from {
   scale: 25%;
    opacity: 0%;
    transform: translateY(100px);
  }
}
@keyframes butonlaryt {
  from {
   scale: 15%;
    opacity: 0%;
    transform: translateY(130px);
  }
}
@keyframes butonlarglobal {
  from {
    animation-delay: 1s;
    opacity: 0%;
    transform: translateY(150px);
    animation-iteration-count: 4;
  }
}

@keyframes oyuncularanim {
  from {
    
    animation-delay: 7s;
    opacity: 0%;
    transform: translateY(-100px);
  }
}
@keyframes kjindex {
  from {
    
    animation-delay: 7s;
    opacity: 0%;
    transform: translateX(-50px);
  }
}
@keyframes sagmenuindex {
  from {
    
    animation-delay: 7s;
    opacity: 80%;
    transform: translateX(230px);
  }
}
@keyframes butonlarglobals {
  from {
    animation-delay: 1s;
    opacity: 0%;
    transform: translateX(150px);
    animation-iteration-count: 4;
  }
}
