* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
html,
body {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}
a.styled {
  animation: butonlarglobal 0.82s ease-in-out;
  z-index: 2;
  text-align: center;
  width: 199px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #8b6b0079;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 5px rgb(255, 196, 0), 0 0 25px rgb(255, 196, 0);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styled:hover {
  background: #ffbb00;
  transform: scale(1.2);
}
a.styledindex {
  animation: butonlarindex 1.2s ease-out;
  z-index: 2;
  text-align: center;
  width: 205px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #8b6b0079;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 5px rgb(255, 196, 0), 0 0 25px rgb(255, 196, 0);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styledindex:hover {
  background: #ffbb00;
  transform: scale(1.2);
}
a.styleddiscord {
  animation: butonlarindex 1.2s ease-in-out;
  z-index: 2;
  text-align: center;
  width: 205px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0142f385;
  transition: 0.4s;
  box-shadow: 0 0 14px rgba(4, 0, 255, 0.575), 0 0 25px rgb(37, 53, 192);
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
}
a.styleddiscord:hover {
  transform: scale(1.2);
  background: #0142f3;
}
@keyframes logoyukariasagi {
  from {
    transform: translateY(-50px);
    opacity: 0%;
  }
}
@keyframes butonlarindex {
  from {
    animation-delay: 7s;
    opacity: 0%;
    transform: translateY(150px);
  }
}
@keyframes butonlarglobal {
  from {
    animation-delay: 1s;
    opacity: 0%;
    transform: translateY(150px);
    animation-iteration-count: 4;
  }
}
@keyframes maclarani {
  from {
    animation-duration: 0.7s;
    opacity: 0%;
    transform: translateX(50px);
  }
}
@keyframes oyuncularanim {
  from {
    
    animation-delay: 7s;
    opacity: 0%;
    transform: translateY(-500px);
  }
}
@keyframes kjindex {
  from {
    
    animation-delay: 7s;
    opacity: 0%;
    transform: translateX(-50px);
  }
}
@keyframes sagmenuindex {
  from {
    
    animation-delay: 7s;
    opacity: 80%;
    transform: translateX(330px);
  }
}