body {
  background-color: #0f0e0e;
  overflow-x: hidden;
  background-image: url("../fotolar/wpmac.png");
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: left;
  padding: 50px;
  align-items:center;
  justify-content: center;
  gap: 20px;
  display: flex;
  font-family:Arial, Helvetica, sans-serif, expanded
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bolder;
}
body div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.right img {
  filter: drop-shadow(0px 0px 79px #ff80004f);
  border-radius: 20px;
  width: 100%;
  animation: maclarani 1.4s ease-out;
}
.left h1 {
  color: rgb(255, 157, 0);
  top: 200px;
  font-size: 35px;
  text-shadow: 0 0 2px rgba(255, 136, 0, 0), 0 0 15px rgba(255, 153, 0, 0);
}

a.styledindex {
  animation: butonlarindex 0.5s ease-out;
  z-index: 2;
  text-align: center;
  width: 220px;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 12px orange;
  outline:#f36e01;
  cursor: pointer;
  background: #8b4a0079;
  transition: 0.2s;
  box-shadow: 0 0 5px rgba(255, 145, 0, 0.851), 0 0 25px rgb(255, 149, 0);
  padding: 15px 30px;
  text-decoration:none;
  color: #ffffff;
}
a.styledindex:hover {
  background: #ff9900;
  transform: scale(1.2);
}


div .left2alt{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  gap: 1px;
}

.left2 img{
  filter: drop-shadow(0px 0px 130px #ff440092);
  animation: maclarani2 1.4s ease-out;
  margin-top: 50px;
  border-radius: 15px;
  width: 100%;
  height:auto ;
}

.left2 h1, .styled{
  font-size: 25px;
  padding: 10px;
  color: rgb(255, 166, 0);
  filter: drop-shadow(0px 0px 30px #fb8e00b2);
}






@media screen and (max-width: 943px){
  .right{
    display: none;
  }
  }

@media screen and (max-width: 943px){
  .left{
    display: none;
  }
  }

@media screen and (max-width: 944px){
  .left2{
    display:block;
  }
}
  
  @media screen and (min-width: 944px){
    .left2{
      display: none;
    }
  }

  @media screen and (max-width: 944px){
    .left2alt{
      display:block;
    }
  }
    
    @media screen and (min-width: 944px){
      .left2alt{
        display: none;
      }
    }