body{
    z-index: 2;
gap: 40px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #0f0e0e;
background-image: url("../fotolar/suffywp.png");
background-size: cover;
}

h1{
    text-shadow: 20px 20px 30px #00000000;
}
p{
    text-shadow: 0px 0px 20px #ff000000;
    font-size: 25px;
}

.soltaraf , .soltarafalt {
    z-index: 2;
    margin-right: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.soltarafalt{
    gap: 45px;
    align-items: center;
    flex-direction: row;
}

.soltarafalt img{
    z-index: 2;
}
.solok{
    z-index: 2;
    animation: oksag 1s;
}
.sagok{
    z-index: 2;
    animation: oksol 1s;
}
.karakter{
    z-index: 0;
}
.social{
    z-index: 2;
    animation: social 1s;
}


.soltaraf{
    width: 1200px;
    background-color: rgba(141, 41, 41, 0);
}

.soltaraf h1{
    animation: yazi2 1s ease-out;
    color: aliceblue;
}
.soltaraf p{
    animation: yazi2 1s ease-out;
    color: aliceblue;
}
.soltaraf a{
    margin: 40px;
}

.sekil{
    animation: sekil 1.8s  ease-in-out 0.7s forwards;
    position: fixed;
    right: -730px;
    z-index: 0;
    
}
@keyframes sekil{
    0%{
        right: -740;
    }
    100%{
        right: 0;
    }
 
    }
.karakter{
    filter: drop-shadow(0px 0px 40px #0000007c);
    animation: karakter 1.6s  ease-out;
    position: fixed;
    right: -140px;
    z-index: 1;
}




.soltaraf2{
    margin-bottom: 470px;
    position: fixed;
    width: 1109px;
    height: 100px;
    background: rgb(255,195,0);
    filter: drop-shadow(0px 0px 40px #000000);
background: linear-gradient(79deg, rgba(255,195,0,1) 0%, rgba(255,137,6,1) 66%, rgba(215,113,24,1) 100%);
}

.soltaraf2 , .soltarafalt2 {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.soltarafalt2 img{
    width: 70px;
}

.soltarafalt2{
    
    gap: 12px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 200px;
    
}
.soltaraf2 p{
    animation: yazi 1s ease-out;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.soltaraf2 h1{
    animation: yazi 1s ease-out;
    color: white;
    font-size: 20px;
    
}
.sekil2{
    animation: sekil2 1s ease-in-out 0.7s forwards;
    position: fixed;
    bottom: 0;
    z-index: 0;
    opacity: 0;
}
.karakter2{
    animation: sekil2 1.3s ease-in-out;
    position: fixed;
    bottom: -100px;
    z-index: 2;
    height: 500px;
    
}

.soltarafalt2 img{
    width: 50px;
    z-index: 2;
}
.solok2{
   
    animation: oksag 1s;
}
.sagok2{
    width: 140px;
    z-index: 2;
    animation: oksol 1s;
}
.karakter2{
    z-index: 1;
}



.soltarafalt2social img{
    animation: social 1s;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    gap: 10px;
    margin: 10px;
    width: 26px;
}

.soltarafalt2social{
    z-index: 2;
}


span{
    color: rgb(255, 166, 0);
}








@media screen and (max-width: 1110px){
    .karakter{
      display: none;
    }
  }
  @media screen and (max-width: 1110px){
    .soltaraf{
      display: none;
    }
  }
  @media screen and (max-width: 1110px){
    .soltarafalt{
      display: none;
    }
  }
  @media screen and (max-width: 1110px){
    .sekil{
      display: none;
    }
  }

  @media screen and (min-width: 1110px){
    .karakter2{
      display: none;
    }
  }
  @media screen and (min-width: 1110px){
    .soltaraf2{
      display: none;
    }
  }
  @media screen and (min-width: 1110px){
    .soltarafalt2{
      display: none;
    }
  }
  @media screen and (min-width: 1110px){
    .soltarafalt2social{
      display: none;
    }
  }
  @media screen and (min-width: 1110px){
    .sekil2{
      display: none;
    }
  }



















  @keyframes social{
    from{
     opacity: 0%;
     transform: translateY(-20px)
 }
    }

@keyframes oksag{
    from{
     opacity: 0%;
     transform: translateX(50px)
 }
    }

@keyframes oksol{
    from{
     opacity: 0%;
     transform: translateX(-50px)
 }
    }


@keyframes karakter{
   from{
    opacity: 50%;
    transform: translateX(600px)
}
   }

   
    @keyframes sekil2{
        from{
         opacity: 0;
         transform: translateY(257px)
     }
     to{
        opacity: 1;
     }
        }

        @keyframes yazi{
            from{
             opacity: 0%;
             transform: translatex(-57px)
         }
            }
            @keyframes yazi2{
                from{
                 opacity: 0%;
                 transform: translatey(57px)
             }
                }

                